.banner {
    width: 85%;
    margin: auto;
    height: auto;
    font-family: 'Poppins', sans-serif !important;
}

.bgImg {
    background-image: url(../../public/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 200px;
    border-radius: 25px;
}

.caption {
    color: white !important;
    position: absolute;
    top: 35px;
    left: 40px;
    width: 60%;
}

.caption h3 {
    color: white !important;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.caption p {
    font-size: 14px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.check span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn,
.btn:active,
.btn:focus {
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #00011d;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(0deg, #FFC700 0%, #FFDC82 100%);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .banner {
        width: 100%;
    }

    .caption {
        top: 10px;
        left: 10px;
        width: 70%;
    }

    .caption h3 {
        font-size: 15px;
    }

    .check span {
        font-family: 'Poppins', sans-serif;
        font-size: 12px !important;
        font-weight: 500;
    }

    .btn,
    .btn:active,
    .btn:focus {
        font-size: 10px !important;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 991px) {
    .caption {
        top: 15px;
        left: 40px;
        width: 70%;
    }

    .check {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {}