.deal__btn a {
    width: 259px;
}

.theme__btn,
.theme__btn:hover {
    text-align: center;
    margin: auto;
    background: linear-gradient(180deg, #FFC700 0%, #FFBC11 100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51 px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #00011D;
    box-shadow: 3px 14px 25px #ffc00b4f;
}