.holiday {
    height: 469px;
    width: 300px;
    float: right;
    margin-bottom: 120px;
}

.bgImg {
    background-image: url(../../public/img/bgImg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 602px;
}

.bgImg::before {
    position: absolute;
    content: "";
    background: linear-gradient(359deg, #001A5B 39.63%, #041951f2 67.67%, rgba(0, 32, 81, 0) 97.98%);
    border-radius: 0px 0px 30px 30px;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.rating {
    position: absolute;
    top: 0;
    right: 0;
    background: #011a5ce6;
    backdrop-filter: blur(11px);
    border-radius: 0px 10px 0px 30px;
    width: 156px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating span {
    padding: 0 2px;
    color: #FFC700;
}

.holiday__caption {
    position: relative;
    z-index: 1;
}

.holiday__title h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    z-index: 1;
}

.holiday__text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.holiday__text span {
    color: #FBB527;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.holiday__btn {
    background: linear-gradient(0deg, #FFC700 0%, #FFDC82 100%);
    border-radius: 30px;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #00011D;
}

.holiday__btn a {
    color: #00011D;
}

@media (min-width:100px) and (max-width:420px) {
    .blog__right {
        float: unset;
        margin-left: auto;
        width: 100%;
    }

    .deal-btn a {
        width: 200px;
    }
}

@media (min-width:420px) and (max-width:500px) {
    .blog__right {
        float: unset;
        margin-left: 16%;
    }
}

@media (min-width:500px) and (max-width:550px) {
    .blog__right {
        float: unset;
        margin-left: 20%;
    }
}

@media (min-width:550px) and (max-width:600px) {
    .blog__right {
        float: unset;
        margin-left: 23%;
    }
}

@media (min-width:600px) and (max-width:650px) {
    .blog__right {
        float: unset;
        margin-left: 28%;
    }
}

@media (min-width:650px) and (max-width:700px) {
    .blog__right {
        float: unset;
        margin-left: 30%;
    }
}

@media (min-width:700px) and (max-width:750px) {
    .blog__right {
        float: unset;
        margin-left: 27%;
    }
}

@media (min-width:750px) and (max-width:800px) {
    .blog__right {
        float: unset;
        margin-left: 28%;
    }
}

@media (min-width:800px) and (max-width:850px) {
    .blog__right {
        float: unset;
        margin-left: 30%;
    }
}

@media (min-width:850px) and (max-width:900px) {
    .blog__right {
        float: unset;
        margin-left: 30%;
    }
}

@media (min-width:900px) and (max-width:950px) {
    .blog__right {
        float: unset;
        margin-left: 30%;
    }
}

@media (min-width:950px) and (max-width:992px) {
    .blog__right {
        float: unset;
        margin-left: 30%;
    }
}