/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1b1b21;
  font-family: "Poppins", sans-serif;
}

body {
  color: #545051;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: RusticLoveTattoo;
  src: url(../../public/fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0;
  outline: 5px auto -webkit-focus-ring-color;
}

/* Header bar section start */

.container.wd {
  max-width: 1440px;
}

.container {
  max-width: 1070px;
}

.header-fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area {
  border-bottom: 1px solid #e8e8e8;
  height: 104px;
  display: flex;
  align-items: center;
}

.header-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-menu li {
  display: inline-block;
  margin: 0 21px;
}

.header-menu li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #00011d;
}

.header-btn a {
  background: linear-gradient(180deg, #ffbc11 0%, #f9b233 100%);
  border-radius: 30px;
  width: 259px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #00011d;
}

.banner-area {
  padding: 50px 0;
  text-align: center;
}

.section-title h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #00011d;
  margin: 0;
}

.vacation-area .section-title {
  margin-bottom: 25px;
}

.vacation-fl {
  display: flex;
  justify-content: space-between;
}

.vacation-left {
  width: 65.4%;
  background: rgba(1, 26, 92, 0.9);
  backdrop-filter: blur(11px);
  border-radius: 30px;
  height: 602px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 63px;
  padding-right: 47px;
}

.vacation-select-title h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 184.5%;
  color: #ffffff;
  margin: 0;
}

.vacation-select-title {
  margin-bottom: 10px;
}

.vacation-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vacation-select .nice-select {
  background: #2d50ab;
  border-radius: 30px;
  width: 100%;
  border: 0;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  height: 47px;
  display: flex;
  align-items: center;
  padding: 0 23px;
}

.single-vacation-select {
  margin-bottom: 35px;
}

.tem-progress-fl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.tam-progres-title h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 184.5%;
  color: #ffffff;
  margin-bottom: 3px;
}

.tam-progres label {
  font-weight: 600;
  font-size: 15px;
  line-height: 184.5%;
  color: #ffbd12;
  display: block;
}

.tam-progres p {
  background: #2d50ab;
  border-radius: 30px;
  margin: 0;
  width: 100%;
  height: 5px;
  position: relative;
  text-align: center;
}

.single-tam-progres {
  width: 46%;
}

.tam-progres p span {
  background: linear-gradient(180deg, #ffbc11 0%, #f9b233 100%);
  border-radius: 30px;
  width: 73px;
  height: 5px;
  display: block;
  position: relative;
  margin: auto;
}

.tam-progres p span:before {
  position: absolute;
  content: "";
  background: #a2bcff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tam-progres p span:after {
  position: absolute;
  content: "";
  background: #a2bcff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.vacation-btn a {
  background: linear-gradient(180deg, #ffbc11 0%, #f9b233 100%);
  border-radius: 30px;
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #00011d;
}

.vacation-card {
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 602px;
}

.vacation-right {
  width: 29%;
}

.vacation-card:before {
  position: absolute;
  content: "";
  background: linear-gradient(360deg,
      #001a5b 39.63%,
      rgba(4, 25, 81, 0.95) 67.67%,
      rgba(0, 32, 81, 0) 97.98%);
  border-radius: 0px 0px 30px 30px;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(1, 26, 92, 0.9);
  backdrop-filter: blur(11px);
  border-radius: 0px 10px 0px 30px;
  width: 156px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star a {
  color: #ffc700;
  font-size: 15px;
  margin: 0 2px;
}

.vacation-containt {
  position: relative;
}

.vacation-card-title h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  margin: 0;
}

.vacation-card-title {
  margin-bottom: 45px;
}

.vacation-card-text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.vacation-card-text p span {
  color: #fbb527;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}

.vacation-card-text {
  margin-bottom: 25px;
}

.vacation-card-btn a {
  background: linear-gradient(0deg, #ffc700 0%, #ffdc82 100%);
  border-radius: 30px;
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #00011d;
}

.vacation-area {
  padding-bottom: 70px;
}

.section-title {
  margin-bottom: 35px;
  text-align: left;
}

.blog-fl {
  display: flex;
  flex-wrap: wrap;
  max-width: 680px;
  justify-content: space-between;
}

.single-blog {
  width: 48%;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 15px;
  padding-top: 12px;
  margin-bottom: 24px;
  height: 418px;
}

.blog-img {
  margin-bottom: 24px;
}

.blog-text p {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #00011d;
  margin: 0;
}

.blog-btn {
  text-align: center;
  max-width: 680px;
  margin-top: 25px;
}

.blog-btn a {
  background: linear-gradient(180deg, #ffc700 0%, #ffbc11 100%);
  border-radius: 30px;
  width: 259px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #00011d;
}

.blog-btn a:before {
  background: linear-gradient(180deg,
      rgba(255, 199, 0, 0.4) 0%,
      rgba(255, 188, 17, 0.4) 100%);
  filter: blur(20px);
  border-radius: 30px;
  position: absolute;
  content: "";
  width: 151px;
  height: 51px;
  bottom: -9px;
}

.blog-area {
  padding-bottom: 100px;
}

.weather-fl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 680px;
}

.single-weather {
  width: 31.33%;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 13px 11px;
  height: 213px;
  margin-bottom: 17px;
}

.weather-img {
  margin-bottom: 13px;
}

.weather-text p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin: 0;
}

.weather-area {
  padding-bottom: 55px;
}

.check-we-fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.check-we-fl a {
  width: 31.33%;
  background: #ffffff;
  border: 1px solid #848eb5;
  box-sizing: border-box;
  border-radius: 30px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #00011d;
  margin-bottom: 50px;
}

.check-we-area {
  padding-bottom: 45px;
}

.single-deal {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 6px 11px rgba(0, 1, 29, 0.05);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  margin-bottom: 40px !important;
}

.deal-img {
  padding: 8px 6px;
  text-align: center;
  margin-bottom: 14px;
}

.deal-containt {
  padding: 0 16px;
}

.deal-containt {
  padding-bottom: 18px;
}

.deal-title h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin: 0;
}

.deal-title {
  margin-bottom: 20px;
}

.deal-ster {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.deal-ster a {
  font-size: 10px;
  color: #ffc700;
  margin: 0 2px;
}

.deal-pp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.deal-pp a {
  background: #ff5656;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  margin-right: 16px;
}

.deal-pp del {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #ff5656;
}

.deal-text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #00011d;
  margin: 0;
}

.deal-text p span {
  font-weight: 700;
  font-size: 20px;
  margin: 0 10px;
}

.theme-btn {
  text-align: center;
  margin: auto;
  background: linear-gradient(180deg, #ffc700 0%, #ffbc11 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #00011d;
  box-shadow: 3px 14px 25px #ffc00b4f;
}

.deal-btn a {
  width: 259px;
}

.deal-area {
  padding-bottom: 44px;
}

.footer-area {
  background: #00011d;
  padding: 40px 0;
  border-bottom: 1px solid #414253;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-fl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-footer-wed {
  width: 25%;
}

.footer-title h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.footer-title {
  margin-bottom: 35px;
}

.footer-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-list li {
  display: block;
  margin-bottom: 7px;
}

.footer-list li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-area {
  background: #00011d;
}

.footer-bootom-menu {
  padding: 45px 0;
}

.footer-bootom-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-bootom-menu li {
  display: inline-block;
  margin: 0 21px;
}

.footer-bootom-menu li:nth-child(1) {
  margin-left: 0;
}

.footer-bootom-menu ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer-copy p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

.humburger-area {
  padding: 32px 0;
}

.hum-memu a {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #00011d;
}

.holy-area .section-title h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #00011d;
}

.holy-area .section-title {
  margin-bottom: 50px;
}

.holy-fl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.holy-left {
  width: 65.4%;
}

.holy-right {
  width: 29.1%;
}

.single-holy {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 6px 11px rgba(0, 1, 29, 0.05);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.holy-hu a {
  font-weight: 300;
  font-size: 12px;
  line-height: 172.9%;
  color: #00011d;
  display: block;
  margin-bottom: 6px;
}

.holy-title h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin: 0;
}

.holy-title {
  margin-bottom: 6px;
}

.holy-ster {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.holy-ster a {
  color: #ffc700;
  font-size: 14px;
  margin: 0 3px;
}

.holy-list-fl {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.holy-list {
  width: 50%;
}

.holy-list a {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 172.9%;
  color: #00011d;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.holy-list a img {
  max-width: 12px;
  margin-right: 10px;
}

.holy-containt {
  width: 62%;
}

.holy-img {
  max-width: 221px;
  position: relative;
}

.holy-list a i {
  margin-right: 12px;
}

.holy-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.holy-last p {
  width: 50%;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #00011d;
  margin: 0;
}

.holy-last p span {
  font-weight: 700;
  font-size: 19px;
}

.hhl {
  width: 50%;
  display: flex;
  align-items: center;
}

.hhl a {
  background: #ff5656;
  width: 43px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.hhl del {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #ff5656;
}

.holy-img a {
  background: #ffffff;
  box-shadow: 0px 6px 11px rgba(0, 1, 29, 0.05);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 45px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
}

.holy-btn a {
  width: 259px;
}

.holy-btn {
  margin-top: 40px;
}

.holy-area {
  padding-bottom: 60px;
}

.holy-ri-single {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #b9c7d5;
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 21px;
  margin-bottom: 33px;
}

.holy-ri-single h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin-bottom: 16px;
}

.holy-ri-single ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.holy-ri-single li {
  display: block;
  margin-bottom: 7px;
}

.holy-ri-single li:last-child {
  margin: 0;
}

.holy-ri-single li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #00011d;
}

.banner-fl.text-center {
  padding: 40px 0;
  padding-top: 30px;
}

.blog-wo-title h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #00011d;
  margin: 0;
}

.blog-wo-fl {
  display: flex;
  justify-content: space-between;
}

.blog-wo-left {
  width: 65.4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-wo-right {
  width: 29%;
}

.blog-wo-right .vacation-right {
  width: 100%;
}

.blog-wo-nev {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.blog-nev-left a {
  background: #ffffff;
  border: 1px solid #e0dfdf;
  box-sizing: border-box;
  border-radius: 5px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: #00011d;
}

.blog-mid {
  display: flex;
  align-items: center;
}

.blog-mid a {
  background: #ffffff;
  border: 1px solid #e0dfdf;
  box-sizing: border-box;
  border-radius: 5px;
  width: 34px;
  height: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #00011d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.blog-mid span {
  font-size: 20px;
  margin: 0 6px;
}

.blog-wo-area {
  margin-bottom: 60px;
}

/*frame7-page-style-start*/

.header-gruc-menu {
  text-align: left;
  margin-bottom: 32px;
}

.header-gruc-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-gruc-menu ul li {
  display: inline-block;
  margin-right: 8px;
}

.header-gruc-menu ul li a {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #00011d;
}

.gazo-title {
  text-align: left;
  margin-bottom: 32px;
}

.gazo-title h3 {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #00011d;
}

.vac-img img {
  /* quotes: ; */
  width: 100%;
}

.vac-img {
  width: 100%;
  height: 100%;
}

.vacation-left.ttys {
  padding: 0;
  background: transparent;
  height: auto;
}

.vacation-btn-tx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
}

.vacation-btn-tx p {
  margin: 0;
  font-family: Poppins;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #00011d;
}

.grud-wrap {
  margin-top: 51px;
}

.grud-wrap h4 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #00011d;
  margin-bottom: 45px;
}

.grud-wrap p {
  margin: 0;
  font-family: Poppins;
  font-weight: 300;
  font-size: 15px;
  line-height: 184.5%;
  text-align: justify;
  color: #00011d;
}

.single-weather.we-bd {
  height: auto;
}

.weather-box {
  background: rgba(17, 255, 169, 0.21);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 15px;
  margin-top: 60px;
}

.weather-btn a {
  width: 140px;
  height: 42px;
  background: linear-gradient(180deg, #00ffa3 0%, #11ffa9 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #00011d;
  margin: auto;
  border: 2px solid transparent;
  transition: 0.3s;
}

.weather-btn {
  margin-bottom: 25px;
}

.weather-box-lf {
  width: 40%;
}

.weather-box-fx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weather-tp h4 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 25px;
  line-height: 37px;
  color: #00011d;
  margin: 0;
}

.weather-tp span {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #00011d;
}

.weather-tp {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.weather-tx p {
  margin: 0;
  font-family: Poppins;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 1, 29, 0.75);
}

.weather-tx {
  margin-top: 10px;
}

.weather-box-fx.lst-bx {
  margin-bottom: 12px;
}

.weather-box-wd {
  width: 31.33%;
  margin-bottom: 40px;
}

.single-weather.we-bd {
  width: 100%;
}

.weather-btm-btn a {
  width: 100%;
  height: 51px;
  background: #ffffff;
  border: 1px solid #848eb5;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #00011d;
}

.oppy-wrap {
  margin-top: 100px;
  max-width: 680px;
}

.appy-single-box h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-align: left;
  color: #00011d;
  margin-bottom: 24px;
}

.appy-single-box p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 15px;
  line-height: 184.5%;
  text-align: justify;
  color: #00011d;
  margin: 0;
}

.appy-single-box.appy-lst h5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 184.5%;
  text-align: justify;
  color: #00011d;
  margin-bottom: 30px;
}

.appy-single-box {
  margin-bottom: 35px;
}

.appy-single-box.appy-lst {
  margin-bottom: 30px;
}

.appy-single-box p span {
  font-weight: 500;
}

/*frame7-page-style-start*/

/*frame-15-page-style-start*/
.gazo-title.gazo-title-2 {
  margin-bottom: 0;
}

.weather-img img {
  width: 100%;
}

.pogo-wrap {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #b9c7d5;
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 30px 15px 15px 15px;
}

.pogo-title h6 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin: 0;
}

.pogo-tx-box.brx .pogo-bx-tt {
  width: 136px;
  margin: auto;
}

.pogo-title {
  margin-bottom: 32px;
}

.pogo-bx-tt img {
  max-width: 36px;
}

.pogo-bx-tt h5 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 35px;
  line-height: 52px;
  color: #00011d;
  margin: 0;
}

.pogo-bx-tt span {
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #00011d;
  margin-bottom: 13px;
}

.pogo-bx-tt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 136px;
  position: relative;
}

.pog-tx p {
  margin: 0;
  font-family: Poppins;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 1, 29, 0.75);
  text-align: center;
  padding-right: 46px;
}

.pogo-tx-box {
  margin-bottom: 27px;
}

.pogo-btn a {
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #848eb5;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #00011d;
  margin-bottom: 14px;
  box-shadow: 8px 15px 16px -17px #b1b9b9d9;
}

.pogo-btn a:last-child {
  margin-bottom: 0;
}

.banner-fl.vvd {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
}

.oppy-wrap.oppy-main-wd {
  width: 64.4%;
  margin-top: 0;
}

.oppy-ri {
  width: 29%;
}

.oppy-main-fx {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.oppy-ro-top-bx {
  background: rgba(17, 255, 169, 0.21);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  height: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 63px;
  padding-right: 78px;
}

.oppy-ro-top-bx p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin-bottom: 20px;
  position: relative;
}

.oppy-ro-top-bx h5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #00011d;
  margin: 0;
}

.oppy-ro-top-bx p:before {
  width: 28px;
  height: 28px;
  background: #00ffa3;
  content: "";
  position: absolute;
  border-radius: 28px;
  left: -44px;
  top: 0;
}

.oppy-ro-top-bx {
  margin-bottom: 19px;
}

.oppy-right-top {
  margin-bottom: 60px;
}

.vacation-area.vac-2 {
  padding-bottom: 25px;
}

.oppy-ro-top-bx.cb-cg {
  background: rgba(255, 91, 91, 0.22);
}

.oppy-ro-top-bx.cb-cg p:before {
  background: #ff5656;
}

.weather-area.mmns {
  padding-bottom: 0;
}

.oppy-wrap.oppy-wrap-3 {
  margin-top: 0;
}

.weather-area.weather-2 {
  padding-bottom: 14px;
}

.weather-area.weather-3 {
  padding-bottom: 20px;
}

.deal-area.del-1 {
  padding-bottom: 52px;
}

.pogo-tx-box.brx {
  width: 100%;
  margin: auto;
  margin-bottom: 27px;
}

.pogo-tx-box.brx.trd {
  margin-top: 60px;
}

.pogo-wrap.nncv .pog-tx {
  margin-top: 12px;
}

.system-single-box {
  background: rgba(17, 255, 169, 0.21);
  backdrop-filter: blur(42px);
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 15px;
}

.system-1st {
  width: 23%;
}

.system-1st h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #00011d;
  margin-bottom: 15px;
}

.system-1st a {
  background: linear-gradient(180deg, #00ffa3 0%, #11ffa9 100%);
  border-radius: 30px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #00011d;
}

.system-2 {
  width: 11.3%;
}

.syste-2-tp h5 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 25px;
  line-height: 37px;
  color: #00011d;
  margin: 0;
}

.syste-2-tp span {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #00011d;
}

.syste-2-tp {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.system-2-tp p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 1, 29, 0.75);
  margin: 0;
}

.system-fx {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.system-single-box.box-2 {
  background: #eefff9;
}

.system-1st.bsd a {
  background: linear-gradient(180deg, #adffe2 0%, #c5ffea 100%);
}

.system-single-box.box-3 {
  background: #fff4f4;
}

.system-1st.bsf a {
  background: linear-gradient(180deg, #ff7070 0%, #ff5656 100%);
  color: #fff;
}

.system-single-box.box-4 {
  background: rgba(255, 91, 91, 0.22);
}

.system-single-box.box-5 {
  background: rgba(255, 245, 17, 0.07);
}

.system-1st.bsmx a {
  background: linear-gradient(180deg, #ffeca9 0%, #ffdc82 100%);
}

.pog-tx.vvfr p {
  padding-right: 0;
  padding-left: 72px;
}

.system-single-box.box-6 {
  background: rgba(17, 255, 169, 0.07);
}

.system-1st.bsmv a {
  background: linear-gradient(180deg, #adffe2 0%, #c5ffea 100%);
}

.appy-single-box.boxs-ffs {
  margin-top: 50px;
}

.section-title.bbf-tit {
  margin-bottom: 65px;
  margin-top: 30px;
}

.header-bar a {
  font-size: 35px !important;
  color: #000;
  background: transparent;
  width: auto !important;
}

.header-bar {
  display: none;
}

.vacation-area.vac-last {
  padding-bottom: 50px;
}

.hotel-wp {
  background: #011a5c;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  align-items: start;
  height: auto;
  margin-bottom: 34px;
  max-width: 680px;
}

.hotel-ct h4 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 184.5%;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 7px;
}


.hotel-ct h5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 184.5%;
  text-align: justify;
  color: #ffffff;
  margin: 0;
}

.hotel-ct {
  margin-left: 28px;
}

.oppy-wrap.oppo-lsy {
  margin-top: 0;
}

/*frame-15-page-style-end*/

/*offcanva-style*/

.offcanva {
  position: fixed;
  width: 320px;
  height: 100%;
  background: #fdb91c;
  z-index: 999;
  left: -100%;
  top: 0;
  transition: 0.3s;
}

.cross {
  position: absolute;
  right: 15px;
  top: 15px;
}

.cross a {
  font-size: 30px;
  color: #000;
}

.offcanva-menu {
  margin-top: 70px;
}

.offcanva-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offcanva-menu ul li a {
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #ddd;
  padding: 14px 20px;
  display: block;
  transition: 0.3s;
}

.offcanva-menu ul li:hover a {
  padding-left: 40px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 9;
  opacity: 0.7;
  left: -100%;
  top: 0;
  transition: 0.3s;
}

.offcanva.active {
  left: 0;
}

.overlay.active {
  left: 0;
}

.je-box-area {
  padding-bottom: 60px;
}

.je-box {
  background: #1a316c;
  backdrop-filter: blur(42px);
  border-radius: 30px;
  max-width: 680px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.je-box p {
  font-weight: 600;
  font-size: 15px;
  line-height: 184.5%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.blog-mid a:nth-child(2) {
  background: #00011d;
  color: #fff;
  border-color: transparent;
}

.blog-img img {
  width: 100%;
}

.deal-img img {
  width: 100%;
}

.nice-select::after {
  border-bottom: 7px solid #1a316c;
  border-right: 7px solid #1a316c;
  content: "";
  display: block;
  height: 10px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 10px;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
}

.pogo-tx-box.brx .pogo-title {
  padding-left: 37px;
}