.weather__now {
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #B9C7D5;
    box-sizing: border-box;
    backdrop-filter: blur(42px);
    border-radius: 30px;
    padding: 30px 15px 15px 15px;
}

.weather__now {
    width: 100%;
    margin: auto;
    margin-bottom: 27px;
}

.weather__title {
    padding-left: 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #00011D;
    margin: 0;
}

.weather__condition {
    width: 100%;
    margin: auto;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 136px;
    margin: auto;
    position: relative
}

.weather__condition h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 52px;
    color: #00011D;
    margin: 0;
}

.weather__condition span {
    font-family: 'Poppins', sans-serif;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #00011D;
    margin-bottom: 13px;
}

.air__temp {
    padding-right: 0;
    padding-left: 72px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: rgba(0, 1, 29, 0.75);
    text-align: center;
    /* padding-right: 46px; */
}

.area__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
}

.text__details {
    width: 64.4%;
    margin-top: 0;
}

.text__details__right {
    width: 30%;
}

.single__detail {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    text-align: left;
    color: #00011D;
    margin-bottom: 24px;
}

.right__side {
    backdrop-filter: blur(42px);
    border-radius: 30px;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 63px;
    padding-right: 78px;
    margin-bottom: 20px;
}

.right__side.green {
    background: #11ffa936;
}

.right__side.red {
    background: #ff5b5b38;

}

.right__side.green p::before {
    background: #00FFA3;
    left: 17px;
    top: 29px;
}

.right__side.red p::before {
    background: #FF5656;
    left: 17px;
    top: 38px;
}

.right__side p::before {
    width: 28px;
    height: 28px;
    content: "";
    position: absolute;
    border-radius: 28px;

}

.right__side span {
    /* font-family: Poppins; */
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #00011D;
    margin: 0;
}


@media screen and (max-width: 991px) {
    .area__detail {
        display: block;
    }

    .text__details {
        width: 100%;
        margin-top: 0;
    }

    .text__details__right {
        width: 100;
        margin: auto;
    }

    .right__side {
        height: 159px;
        padding-left: 54px;
        padding-right: 40px;
    }
}