html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1070px !important;
}


/* PAGINATE */

.pagination {
  margin-top: 40px;
  justify-content: center;
  width: 100%;
}

.pagination .page__item .page__link {
  background: #FFFFFF;
  border: 1px solid #E0DFDF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 34px;
  height: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #00011D;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.page__item.active a {
  background: #00011D !important;
  color: #fff !important;
  border-color: none !important;
  border: none !important;
}

.page__prev,
.page__prev:hover {
  position: absolute;
  left: 20px;
  font-size: 14px;
}

a.page__link:hover {
  background-color: #fff;
}

.page__next,
.page__next:hover {
  position: absolute;
  right: 20px;
  font-size: 14px;
}